[Unit]
Description=petclinic app
After=network.target

[Service]
Type=simple
SuccessExitStatus=143
User=petclinic
Group=adm
ExecStart=/usr/bin/java -jar /opt/petclinic/petclinic.jar  \
--spring.profiles.active=mysql \
--spring.datasource.initialization-mode=always \
--spring.datasource.url=jdbc:mysql://34.118.118.199/petclinic \
--spring.datasource.username=$USER \
--spring.datasource.password=$PASS

ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target